
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

@Html.Action("PartialHead", "Default")

<body>

    @Html.Action("PartialSpinner", "Default")

    <!-- Spinner End -->
    <!-- Navbar Start -->
    @Html.Action("PartialNavbar", "Default")

    <!-- Navbar End -->
    <!-- Header Start -->
    @Html.Action("PartialProfile", "Default")

    <!-- Header End -->
    <!-- About Start -->
    @Html.Action("PartialAbout", "Default")

    <!-- About End -->
    <!-- Education Start -->
    @Html.Action("PartialEducation", "Default")

    <!-- Education End -->
    <!-- Experience Start -->
    @Html.Action("PartialExperience", "Default")

    <!-- Exparience End -->
    <!-- Skills Start -->
    @Html.Action("PartialSkill", "Default")

    <!-- Skills End -->
    <!-- Service Start -->
    @Html.Action("PartialService", "Default")


    <!-- Service End -->
    <!-- Portfolio Start -->
    @Html.Action("PartialPortfolio", "Default")

    <!-- Portfolio End -->
    <!-- Testimonial Start -->
    @Html.Action("PartialTestimonial", "Default")

    <!-- Testimonial End -->
    <!-- Contact Start -->
    @Html.Action("PartialContact", "Default")


    <!-- Contact End -->
    <!-- Footer Start -->
    @Html.Action("PartialFooter", "Default")


    <!-- Footer End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-primary btn-lg-square back-to-top"><i class="fa fa-arrow-up"></i></a>


    @Html.Action("PartialScript", "Default")

</body>

</html>